<footer class="border-top footer text-muted bg-warning text-dark fixed-bottom">
    <div class="container">
        &copy; 2020 - cryptoTrade - <a href="/">Privacy</a> - Tomislav Milardovic
    </div>
</footer>