@inherits LayoutComponentBase
<NavMenu></NavMenu>
<div class="container bg-dark text-white">
    <main role="main" class="pb-3 w-80 p-3 align-content-md-center" style="zoom:0.8">
        @Body
    </main>
</div>
<Footer></Footer>

