<div style="width:100%" class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning">
        <div class="container">
            <a class="navbar-brand" href="#">cryptoTrade</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item d-flex align-items-center">
                        <MatIcon Icon="home"></MatIcon>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Home</a>
                    </li>
                        <li class="nav-item d-flex align-items-center">
                            <MatIcon Icon="trending_up"></MatIcon>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="Prices">Prices</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <MatIcon Icon="event_note"></MatIcon>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="News">News</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <MatIcon Icon="compare_arrows"></MatIcon>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="Transactions">Transactions</a>
                        </li>
                        <li class="nav-item d-flex align-items-center">
                            <MatIcon Icon="account_balance_wallet"></MatIcon>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="Wallet">Wallet</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</div>